# test-only packages: pin everything to minimize change
pytest==6.2.1

# actual dependencies: let things break if a package changes
future>=0.18.2
python-dateutil>=2.8.1
kazoo>=2.8.0
requests>=2.25.1
thrift>=0.13.0
asn1crypto>=1.4.0
asysocks>=0.1.0
pyasn1>=0.4.8
pytimeparse>=1.1.8
sasl>=0.3.1
thrift_sasl>=0.4.3
pure-sasl>=0.6.2
